final-project-notes-app-api/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<flow name="getAllNotes" doc:id="f95e2b8d-94aa-4f29-aafc-217896bf7065" >
		<db:select doc:name="getAllNotes" doc:id="aa83e0dd-9928-421a-aea2-bdc1a1cb761a" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM notes_app.notes;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="190f3845-9a59-4b66-bc5c-344e62b75a6d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getNotesbyId" doc:id="7e8979d0-146a-4add-9642-d18d3012b25e" >
		<file:listener doc:name="On New or Updated File" doc:id="19530f5d-f29a-4d1e-84b7-08ae44b41679" config-ref="File_Config" directory="input" watermarkMode="MODIFIED_TIMESTAMP">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="3b588060-5b3a-4fe7-a922-7c60d7f6ba3b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[sizeOf(payload)]" doc:name="Set Variable" doc:id="50eb31b3-c1d0-4b6f-9fbd-89fce04b74bf" variableName="size"/>
		<batch:job jobName="implementationBatch_Job" doc:id="edbab94c-968a-470a-b4be-805907f14284" >
			<batch:process-records >
				<batch:step name="Batch_Step1" doc:id="d1486099-c53c-4c8e-a877-1553981ad1da" >
					<ee:transform doc:name="Transform Message" doc:id="6e3d0fb3-a1d9-4c6a-b828-b9a4e5f21869" >
						<ee:message >
						</ee:message>
						<ee:variables >
							<ee:set-variable variableName="ID" ><![CDATA[%dw 2.0
output application/json
---
payload.ID as Number]]></ee:set-variable>
							<ee:set-variable variableName="Content" ><![CDATA[%dw 2.0
output application/json
---
payload.Content as String]]></ee:set-variable>
							<ee:set-variable variableName="Title" ><![CDATA[%dw 2.0
output application/json
---
payload.Title as String]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
					<db:select doc:name="getNotesbyId" doc:id="2cc28861-7894-4610-ba77-ef8ccb7352b3" config-ref="Database_Config" target="ifPresent" targetValue="#[sizeOf(payload) &gt; 0]">
			<db:sql><![CDATA[SELECT * FROM notes_app.note
where ID = :ID and Title = :Title and Content = :Content]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	Content: payload.Content as String,
	Title: payload.Title as String,
	ID: payload.ID as Number
}]]]></db:input-parameters>
		</db:select>
				</batch:step>
				<batch:step name="Batch_Step2" doc:id="37893cb4-e1ca-45be-98a7-9cf560af31ad" acceptExpression="#[not vars.ifPresent]">
					<logger level="INFO" doc:name="Logger" doc:id="de83c37d-7f33-49c0-87f8-52a320cf49e5" message="loger from step2 "/>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="de7fd4b8-34a9-4080-b7e4-fc9bdeca26b9" size="20">
						<logger level="INFO" doc:name="Logger" doc:id="ac66c970-d34c-40b2-b178-872eb04adef4" message="#['In Aggregator=== size is ' ++ sizeOf(payload)]"/>
						<db:bulk-insert doc:name="Bulk insert" doc:id="0d1f721b-35f1-4c50-8e5e-b449e2d479cc" config-ref="Database_Config">
							<db:bulk-input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
payload map {
	ID: $.ID as Number,
	Title: $.Title as String,
	Content: $.Content as String
}]]]></db:bulk-input-parameters>
							<db:sql ><![CDATA[insert into note (ID, Title, Content)
values(:ID, :Title, :Content)]]></db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="93b40f40-020a-4238-b8e0-67c03b837e13" message="Final Loger"/>
			</batch:on-complete>
		</batch:job>
	</flow>
	<flow name="postNotes" doc:id="c4f604f5-e3fe-4a79-a34d-26723f4bc50a" >
		<scheduler doc:name="Scheduler" doc:id="3c2b52be-d482-4caa-babe-5a87cd56ddb6" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<file:read doc:name="Read" doc:id="86df93a7-df1d-4abc-aaf7-ded67da9a089" config-ref="File_Config" path="Notes.csv"/>
		<ee:transform doc:name="Transform Message" doc:id="2010dd5d-aedd-4746-a231-2eb9585529da" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:bulk-insert doc:name="Bulk insert" doc:id="a1f87f73-86b6-46da-b562-ac303ec41577" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into notes (ID, Title, Content, CreatedAt, UpdatedAt)
values(:ID, :Title, :Content, :CreatedAt, :UpdatedAt)]]></db:sql>
		</db:bulk-insert>
		<ee:transform doc:name="Transform Message" doc:id="101ce056-f6fc-4714-8b77-9ad730ceda01" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
